<div class="app-header">
  <a>
    <img src="assets/logo.png" style="width:100%; max-height:80px;" alt="">
  </a>
  <a routerLink="home" style="margin-left:15px;">Home</a>
  <a routerLink="pagina" style="margin-left:15px;">Página</a>
</div>
<div class="app-body">
  <div [@routeAnimations]="prepareRoute(outlet)" style="width:100% !important;">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
<div class="app-footer">
  Powered By <a style="color:#27AAE1;" href="https://inteliger.com.br">Inteliger</a>
</div>
